.tf-button.style3 {
  background: #86ff00;
  color: #000000;
}

.tf-button {
  --path: 0px 0px, calc(100% - 20px) 0, 130% 100%, calc(100% - 20px) 100%,
    14px 100%, 0px calc(100% - 14px);
  font-family: "resobot-bold";
  -webkit-clip-path: polygon(var(--path));
  clip-path: polygon(var(--path));

  border-radius: 8px;

  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
