.espoBanner {
  --section-padding: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 90vh;
  display: grid;
  align-items: center;
}
