.active {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #45f882;
    text-transform: uppercase;
    transition: all linear 0.3s;
    position: relative;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.active::after{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 2px;
    background-color: #45f882;
    transform: rotate(-45deg);
    transition: all linear 0.3s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.default {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  transition: all linear 0.3s;
  position: relative;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  
}
.default::after{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background-color: #45f882;
    transform: rotate(-45deg);
    transition: all linear 0.3s;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.nav-link:hover .default::after{
    width: 50px;
    color: #45f882;
}
.nav-link:hover .default{
    color: #45f882;
    
}



